
<app-header></app-header>
<br/><br/><br/><br/><br/>
<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
    
<form  action="#" method="POST">
<input type=hidden name="oid" value="#">

<link href="https://fonts.googleapis.com/css?family=Yantramanav" rel="stylesheet" rel='stylesheet' type='text/css'>

<div class="container">
	<h2>Réclamation de crime</h2>
	<div class="field field--block">
		<input class="field__input input input--text" id="last_name" maxlength="50" name="last_name" type="text" pattern="^([a-zA-Z][a-zA-Z\- ']*[a-zA-Z])$" />
		<label class="field__label label--required" for="last_name">Titre de  crime</label>
    </div>
    
    <div class="field field--halfleft">
		<input class="field__input input input--text input--required" id="company" type="text" maxlength="30" name="company" pattern="^([a-zA-Z0-9][a-zA-Z\- '0-9]*[a-zA-Z0-9])$" required="required" />
		<label class="field__label label--required" for="company">Lieu de crime</label>	
	</div>
  
    
	<div class="field field--halfleft">
		<input class="field__input input input--text" id="email" maxlength="80" name="email" type="text" pattern="^[a-z0-9._-]+@[a-z0-9._-]{2,}\.[a-z]{2,4}$"/>
		<label class="field__label label--required" for="email">Nom et Pénom de victime</label>		
	</div>

	<div class="field field--half">
		<input class="field__input input input--text" id="phone"  maxlength="20" name="phone" type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$"style="background: rgba(255,255,255,0.35);" />
		<label class="field__label label--required" for="phone" >Téléphone</label>	
	</div>
  
  	<div class="field field--halfleft">
		<input class="field__input input input--text input--required" id="company" type="text" maxlength="30" name="company" pattern="^([a-zA-Z0-9][a-zA-Z\- '0-9]*[a-zA-Z0-9])$" required="required" />
		<label class="field__label label--required" for="company">Description</label>	
	</div>
    <div class="field field--block">
		<select class="field__input input input--select" id="00N58000006R5pi" name="00N58000006R5pi" title="Formulaire WEB - Sujet" required="required">
  			<option value="">- Aucun -</option>
        <option value="Club Utilisateurs">un peu dangereux</option>
        <option value="Demande de Rendez-vous" selected>dangereux</option>
        <option value="Informations complémentaires">Trés dangereux</option>
		</select>
		<label class="field__label label--required" for="00N58000006R5pi">Type de crime</label>
	</div>
  



  
  <!--Formulaire WEB - Sujet -->  




<!--	
	<div class="field field--three-quarter">
		<input class="field__input input input--text" id="5" type="text" />
		<label class="field__label" for="5">Address</label>	
	</div>
	
	<div class="field field--quarter">
		<input class="field__input input input--text" id="6" type="text" />
		<label class="field__label" for="6">Zip code</label>
	</div> -->
	
  
  

 <!--Formulaire WEB - envoyer
<input type="submit" name="submit" value="Envoyer &rarr;" onclick="myForm()">
 --> 
  
 	<div class="field field--block ">
		<button class="btn btn--action" type="submit" name="submit" onclick="myForm()">Envoyer &rarr;</button>
	</div>
</div>
  
<style type="text/css">
</style>