
<nav class="navbar navbar-inverse navbar-fixed-top bg-inverse myBackground2">
  
          
         <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"  ><span class="glyphicon glyphicon-fire"></span>  ALLsafe</a>
    </div>
    
    <ul class="nav navbar-nav navbar-right ">
      <li><a routerLink="/admin"  ><div class="fontcolor mapspos"><span class="glyphicon glyphicon-globe "> </span> Suivie </div></a></li>
      
      <li><a   routerLink="/analyse/2016" ><div class="fontcolor"><span class="glyphicon glyphicon-stats"></span> Analyse</div></a></li>
      <li><a   routerLink="/prediction" ><div class="fontcolor"><span class="glyphicon glyphicon-flash"></span> Prediction</div></a></li>

      
    </ul>
  </div>




</nav>





