@import url(http://fonts.googleapis.com/css?family=Roboto:700);

.btn-pheromone {
    border: 2px solid #ffc107;
    background-color: #ffc107;
    color: #000!important ; 
    
}

.btn-sm {
  width: 200PX ;
  font-size: 11px!important;
  padding: 6px 15px;
    
}


#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {

  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  font-family: Roboto, sans-serif;
  
  position: relative ;
  top :-10px ; 

  
}


#cssmenu > ul {
  
  width: 200px;
  background-color: rgba(0, 0, 0, 0.2);
  background: #ffffff ;
  color: rgba(0, 0, 0, 0.2);
  
  
  
}
#cssmenu > ul > li > a {
  
  padding: 12px 15px;
  font-size: 14px;
  color: black;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  -ms-transition: color .2s ease;
  transition: color .2s ease;
  
  
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #222222;
  
}
#cssmenu ul li.has-sub > a::after {
  position: absolute;
  right: 15px;
  display: block;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 2px;
  
  
  
  
}
#cssmenu > ul > li.has-sub > a::after {
  top: 14px;
  background: rgb(121, 2, 0);
  
}
#cssmenu > ul > li.has-sub:hover > a::after,
#cssmenu > ul > li.has-sub > a:hover::after {
  background: #222222;
  
}
#cssmenu ul ul li.has-sub > a::after {
  top: 13px;
  background: #ffffff;
  
}
#cssmenu ul ul li.has-sub:hover > a::after,
#cssmenu ul ul li.has-sub > a:hover::after {
  background: #dddddd;
  
}
#cssmenu ul li.has-sub > a::before {
  
  position: absolute;
  right: 15px;
  z-index: 2;
  display: block;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  content: "";
  
}
#cssmenu > ul > li.has-sub > a::before {
  top: 16px;
  border-left-color: #ffffff;
  
}
#cssmenu ul ul li.has-sub > a::before {
  top: 15px;
  border-left-color: #2e353b;
  
}
#cssmenu ul {
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  
}
/*  menu 2 */
#cssmenu ul ul {
  position: absolute;
  top: 0;
  left: -9999px;
  min-width: 200px;
  
  background-color: rgba(0, 0, 0, 0.2);
  background:#ffffff;
  color: black ;
  opacity: 0;
  -moz-transition: opacity 0.2s ease, -moz-transform 0.2s ease;
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  -ms-transition: opacity 0.2s ease, -ms-transform 0.2s ease;
  -o-transition: opacity 0.2s ease, -o-transform 0.2s ease;
  transition: opacity .2s ease, transform .2s ease;
  -webkit-transform: rotate3d(0, 1, 0, 45deg);
  -moz-transform: rotate3d(0, 1, 0, 45deg);
  transform: rotate3d(0, 1, 0, 45deg);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  transform-origin: left center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  max-height: 190px ;
   overflow-x: hidden;
   overflow-y:scroll ;
}
#cssmenu ul li:hover > ul {
  left: 100%;
  opacity: 1;
  transform: rotate3d(0, 0, 0, 0);
}
#cssmenu ul ul::after {
  position: absolute;
  left: -8px;
  top: 14px;
  z-index: 5;
  display: block;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-right-color: #2e353b;
  content: "";
}
#cssmenu ul ul a {
  padding: 12px 15px;
  font-size: 10 px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  -ms-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #dddddd;
}
.host {
  
  color: #fff;
  position: fixed;
  left: auto;
  margin-top: auto ; 
  height:97% ;
  top: 44px;
  min-width: 200px ;
  max-width: 200px ;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow: -1px 1px 20px 0px rgba(105, 103, 103, 0.75);
background-color: #ffffff ; 



 
}

.posbuttonsuit {
  position: fixed ; 
  top: 90% ; 
  left: 0.8% ;
}
.posbuttonsuit2 {
  position: fixed ; 
  top: 85.5% ; 
  left: 0.8% ;
}






.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
    width: 500px
}

.checkbox  {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    margin-right: .5em;
}
.sizetitre{
 width: 500px ;
}




.checkbox .cr .cr-icon
{
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.checkbox label input[type="checkbox"],


.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
 {
    opacity: .5;
}



h5 {
      font-family: inherit;
     
      font-size: 20px ;
      line-height: 0.1;
      color: black;
}

.usrcolor
{
  color: #777777 ;
  
  
  
}

.colorliste {
  position: relative ; 
  top : 15px ;
  left :5px ; 
  color:  black ;  
  font-size: 18px ;
    
}

.colorliste2 {
  position: relative ; 
  top : 10px ;
  left :5px ; 
}





.search-form .form-group {
  position: fixed ; 
  left: 0.4% ;  
  top: 95% ;
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 170px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {

  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}

.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #b90c08;
  left: initial;
  font-size: 14px;

}




button {


  outline: none;
  height: 25px;
  text-align: center;
  width: 40px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.22);
  border: 2px solid rgb(0, 62, 93);
  color: rgb(0, 62, 93);
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
button:hover {
  color: white;
  background: rgba(0, 62, 93, 0.47);

}
button:active {
  letter-spacing: 2px;
}


.button2 {
  outline: none;
  height: 25px;
  text-align: center;
  width: 160px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.22);
  border: 2px solid rgb(0, 62, 93);
  color: rgb(0, 62, 93);
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
button2:hover {
  color: black;
  background: rgba(0, 62, 93, 0.47);

}
button2:active {
  letter-spacing: 2px;
}

.button3 {
    position: relative ; 
  left: -800px ;
  top: -24px ;
  outline: none;
  height: 25px;
  text-align: center;
  width: 220px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.22);
  border: 2px solid rgb(0, 62, 93);
  color: rgb(0, 62, 93);
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.button3:hover {
  color: black;
  background: rgba(0, 62, 93, 0.47);

}
.button3:active {
  letter-spacing: 2px;
}



.button1 {
    position: relative ; 
  left: -1050px ;

  outline: none;
  height: 25px;
  text-align: center;
    width: 260px;

  border-radius: 40px;
  background: rgba(255, 255, 255, 0.22);
  border: 2px solid rgb(94, 0, 0);
  color: rgb(94, 0, 0);
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.button1:hover {
  color: black;
  background: rgba(94, 0, 0, 0.24);
}
.button1:active {
  letter-spacing: 2px;
}
.okpos2{
  position: relative ; 
  top : 0.5px ;
}

.onclic {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-left-color: rgb(0, 62, 93);
  -webkit-animation: rotating 2s 0.25s linear infinite;
          animation: rotating 2s 0.25s linear infinite;
}
.onclic:after {
  content: "";
}
.onclic:hover {
  color: rgb(0, 62, 93);
  background: white;
}

.validate {
  font-size: 13px;
  color: white;
  background: #1ECD97;
}
.validate:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


.form-group textarea {
  resize: none;
}

.control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}
.form-group .bar {
  position: relative;
  top :1px ;
  border-bottom: 0.0625rem solid #999;
  
 width: 500px ; 
}

.form-group textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 2rem;
  border-width: 0;
  border-color: transparent;
  line-height: 3;
  width: 100%;
  color: transparent;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
}


.form-group textarea:focus,
.form-group textarea:valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
  color: #333;
}

.form-group textarea:focus ~ .control-label,
.form-group textarea:valid ~ .control-label,
.form-group textarea.form-file ~ .control-label,
.form-group textarea.has-value ~ .control-label {
  font-size: 0.8rem;
  color: black;
  top: -1rem;
  left: 0;
}

.form-group textarea:focus {
  outline: none;

}



.form-group textarea:focus ~ .bar::before {
  width: 500px;
  top: 1px ;
  left: 0;
  
}

h3 {
      font-family: inherit;
     
      font-size: 20px ;
      line-height: 0.1;
      color: black;
}




.modal-body{
  background-color:rgba(255, 255, 255, 0.82) ;
}


.modal-footer{
   background-color: rgba(255, 255, 255, 0.22);
   height: 65px ;
}
.bt{
  position: relative ; 
  top: -47px ;
}
.modal-content{
   background-color: rgba(255, 255, 255, 0.22);
    width: 1350px ;
}
.modal-dialog{
    background-color: rgba(255, 255, 255, 0.22);
     width: 1350px ;
  }

  .okpos{
    position: relative ; 
    left: -3px ;
    top: -2px ;
  }






@media only screen and (max-width: 775px) {


  .host {
  
 
  height:97% ;
    top: 220px;
  min-width: 180px ;
  max-width: 180px ;

 
}

#cssmenu > ul {
  
  width: 175px;
}


.posbuttonsuit {
  position: fixed ; 
  top: 97% ; 
  left: 0.9% ;
}
.posbuttonsuit2 {
  position: fixed ; 
  top: 96% ; 
  left: 0.9% ;
}
.search-form .form-group {
  position: fixed ; 
  left: 0.4% ;  
  top: 98% ;
  width: 170px;


}

.modal-content{
   background-color: rgba(255, 255, 255, 0.22);
    width: 750px ;
}
.modal-dialog{
    background-color: rgba(255, 255, 255, 0.22);
     width: 750px ;
  }

  
.button1 {
    position: relative ; 
  left: -450px ;
}
.button3 {
    position: relative ; 
  left: -200px ;
}



}

@media only screen and (min-width: 776px) and (max-width: 1550px) {

.button1 {
    position: relative ; 
  left: -950px ;
}
.button3 {
    position: relative ; 
  left: -700px ;
}
.host {
  
 
  height:97% ;
  top: 34px;
  min-width: 180px ;
  max-width: 180px ;

 
}

#cssmenu > ul {
  width: 180px;

  
}

.search-form .form-group {
  position: fixed ; 
  left: 0.4% ;  
  top: 93% ;
  width: 170px;


}.posbuttonsuit {
  position: fixed ; 
  top: 88% ; 
  left: 0.9% ;
}
.posbuttonsuit2 {
  position: fixed ; 
  top: 83% ; 
  left: 0.9% ;
}
#cssmenu ul ul {
 
  width: 230px;
}

.btn-sm {
  width: 230PX ;
  
    
}


button {
  width: 40px;
}





.modal-content{

    width: 1250px ;
}
.modal-dialog{

     width: 1250px ;
  }



  

}